*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'open sans';
}
.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin:auto;
    overflow: hidden;
}
.titulo{
    columns: #664422;
    font-size:30px;
    text-align: center;
    margin-bottom:60px;
    }
header{
    width:100%;
    height: 200px;
    background : #007bff;
}
nav{
    text-align: right;
    padding: 30px 50px 0 0;
}
nav > a{
    color:#fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}
nav > a:hover{
    text-decoration: underline;
}
.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}
header .textos-header{
    display: flex;
    height: 150px;
    widows: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.textos-header h1{
font-size: 50px;
color: white;
}
.principal{
    font-size: 20px;
    padding: 30px 50px 20px 20px;
}
.textos li{
    font-size: 20px solid hsl(0, 0%, 80%);
    font-weight: bold;
    padding: 10px 10px 10px 10px;
    margin-left: 10px;
}

.textos input{
    font-size: 15px solid #cccccc;
    padding: 10px 10px 0px 0px;
    margin-left: 20px;
}
.navbar {
    padding: 25px 15px 15px 0px;
    margin-left: 10px;
}

.navbar button{
  padding: .375rem .75rem;
  border-radius: .25rem;
  background-color: #007bff;
  color: #fff;
  transition: background-color .15s ease-in-out;
}

.navbar button:hover, .navbar button:focus {
    background-color: #0069d9;
  }
footer{
    padding: 120px 0px 0px 0px; 
  }
.titulo-final{
    font-size: 15px;
    text-align: center;
 }